$beer-list-anim-duration: .5s;

.anim-beer-list {
  &-leave,
  &-enter {
    &-active {
      transition: none $beer-list-anim-duration;
      transition-property: transform, opacity;
    }
  }

  &-leave-active {
    position: absolute;
    width: 100%;
  }

  &-enter {
    transform: translateY(50%);
    opacity: 0;
  }

  &-leave-to {
    transform: translateY(-50%);
    opacity: 0;
  }

  &-move {
    transition: none $beer-list-anim-duration;
    transition-property: transform, opacity;
  }
}



.beer-list {
  $offset: 20px;

  position: relative;
  margin-top: -$offset;

  &__item {
    margin-top: $offset;
  }
}



.beer-list-buttons {
  display: flex;
  justify-content: center;
}


$beer-item-border-radius: 12px;
$beer-item-border-width: 2px;

.beer-item {
  border-radius: $beer-item-border-radius;
  padding: $beer-item-border-width;
  background: linear-gradient(to top, #b31734, #59242e);
  box-shadow: 0 10px 20px cca(black, .4);

  &__container {
    display: flex;
    height: 100%;
    border-radius: $beer-item-border-radius - $beer-item-border-width;
    padding: 15px 20px;
    padding-right: 15px;
    background: #0e0f16 radial-gradient(circle farthest-side at bottom, cca(#ba1036, .5), transparent);
  }

  &__stream-el {
    &:not(:first-child) {
      margin-left: 15px;
    }
  }

  &__id {
    align-self: center;
    min-width: 24px;
    font-weight: 700;
    text-align: right;
  }

  &__image {
    flex-shrink: 0;
    align-self: center;
    height: 100px;
    width: 60px;
    object-fit: contain;
  }

  &__info {
    flex-grow: 1;
  }

  &__name {
    font-weight: 700;
  }

  &__description {
    margin-top: 8px;
    font-size: 14px;
    color: #fa9bb4;
  }

  &__tips {
    font-size: 12px;
    color: #ca7d91;
    margin-top: 8px;
  }
}



$beer-item-manage-offset: 10px;
$beer-item-manage-item-count: 2;

.beer-item-manage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -$beer-item-manage-offset;

  &__item {
    margin-top: $beer-item-manage-offset;
  }
}
