@import "reset";
@import "mixins";

body {
  min-height: 100vh;
  font-family: "Century Gothic", sans-serif;
  color: white;
  background: #15161b radial-gradient(circle, #4e2428, cca(#4e2428, .1) 45%, transparent) center/170%;
}

.app {
  padding: 20px 0;
}

.main-columns {
  $margin: 10px;

  display: flex;
  flex-wrap: wrap;
  margin: (-$margin * 2) (-$margin) 0;

  &__column {
    @include width_col(2, $margin * 2);
    margin: ($margin * 2) $margin 0;

    /*@media (max-width: 639px) {
      @include width_col(1, $margin);
    }*/
  }
}


@import "default";
@import "modal";

@import "beer-list";
